h1 {
  font-family: "Montserrat-thin-black";
  font-size: 3rem;
  line-height: 1.5;
}
#title {
  background-color: pink;
}
#middle {
  background-color: pink;
}
#bottom {
  background-color: black;
}
.container-fluid {
  padding: 2% 3%;
}
body {
  background-color: pink;
}
